<html >
<head>
    <meta charset="UTF-8">
    <title>도서 수정</title>
    <link href="/BookMarket/css/bootstrap.min.css" rel="stylesheet" >
    <script src="/BookMarket/js/controllers.js"></script>
</head>
<body>
<div class="container py-4">
    <th:block th:replace="~{/module/header}"></th:block>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">도서 수정</h1>
            <p class="col-md-8 fs-4">BookMarket</p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <img th:src="'/BookMarket/images/'+${book.getFileName()}" style="width: 90%" />
            <div class="text-center">
                <a th:href="@{download(file=${book.fileName})}" style="text-decoration-line:none">이미지다운로드</a>
            </div>
        </div>
        <div class="col-md-8">
            <form th:object="${book}" action="/BookMarket/books/update"    method="post"  enctype="multipart/form-data">

                <div class="mb-3 row">
                    <label class="col-sm-2 control-label">도서ID</label>
                    <div class="col-sm-3">
                        <input  type="hidden" name="bookId"  class="form-control" th:field="*{bookId}" readonly="readonly"/>
                        <span class="badge text-bg-info" th:text ="${book.bookId}"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >도서명</label>
                    <div class="col-sm-3">
                        <input   type="text" name="name"  class="form-control" th:field="*{name}"/>
                    </div>

                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >가격</label>
                    <div class="col-sm-3">
                        <input   type="text" name="unitPrice" class="form-control" th:field="*{unitPrice}"/>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-danger"  th:errors="*{unitPrice}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >저자</label>
                    <div class="col-sm-3">
                        <input   type="text" name="author" class="form-control" th:field="*{author}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >상세정보</label>
                    <div class="col-sm-8">
                        <textarea  type="text" name="description" cols="50" rows="2" class="form-control" th:field="*{description}"> </textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >출판사</label>
                    <div class="col-sm-3">
                        <input   type="text" name="publisher" class="form-control" th:field="*{publisher}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >분류</label>
                    <div class="col-sm-3">
                        <input  type="text" name="category" class="form-control" th:field="*{category}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >재고수</label>
                    <div class="col-sm-3">
                        <input  type="text" name="unitsInStock" class="form-control" th:field="*{unitsInStock}"/>
                    </div>

                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >출판일</label>
                    <div class="col-sm-3">
                        <input  type="text" name="releaseDate" class="form-control" th:field="*{releaseDate}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >상태</label>
                    <div class="col-sm-3">
                        <input type="radio" name="condition" value="New" /> New
                        <input type="radio"  name="condition" value="Old" /> Old
                        <input type="radio" name="condition" value="E-Book" /> E-Book
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 control-label" >이미지</label>
                    <div class="col-sm-7">
                        <input type="file"  name="bookImage"  class="form-control" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-offset-2 col-sm-10" >
                        <input  type="submit" class="btn btn-primary" value ="수정"/>
                        <a href="/BookMarket/books" class="btn btn-primary"> 취소</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <th:block th:replace="~{/module/footer}"></th:block>
</div>
</body>
</html>